@model  IEnumerable<Group>

@{ 
    ViewData["Title"] = "Groups";
}

<div>
    <button>Create Group</button>
    @{ 
        if(!Model.Any() || Model == null)
        { 
            <div>This project does not have any groups currently.</div>
        }
        else
        {
            foreach(var g in Model)
            {
                <div>
                    @g.groupName
                </div>
            }
        }
    }
</div>