@model IEnumerable<CourseInstructorModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "My Courses";
}

<h1>My Courses</h1>
<div>
    @{
        if ((!Model.Any() || Model == null) && HttpContextAccessor.HttpContext.Session.GetString("role") != "1")
        {
            <div>
                You do not currently have any active Courses.  <a href="~/course/All">Click here to register for a course</a>
            </div>
        }
        else if ((!Model.Any() || Model == null) && HttpContextAccessor.HttpContext.Session.GetString("role") == "1")
        {
            <div>
                <p>You do not have any courses. <button onclick="displayForm()">Create Course</button></p>
                <div id="CourseForm"></div>
            </div>
        }
        else
        {
            <table cellpadding="5">
                @foreach (CourseInstructorModel courseInstructor in Model)
                {
                <tr>
                    <td>
                        <div>
                            <span>
                                <a href="/Course/@courseInstructor.courseId/Projects">@courseInstructor.courseName</a>
                            </span>
                            <span>
                                @courseInstructor.instructorFirstName
                            </span>
                            <span>
                                @courseInstructor.instructorLastName
                            </span>
                        </div>
                    </td>
                </tr>
                }
                @if (HttpContextAccessor.HttpContext.Session.GetString("role") == "1")
                {
                    <button onclick="displayForm()">Create Course</button>
                    <div id="CourseForm"></div>
                }
                </table>
            }
      }
</div>

<script type="text/javascript">

    function displayForm() {
        console.log('displaying form');
        $('#CourseForm').html('<input id="NewCourse" type="text"/><button onclick="addCourse()">Submit</button>');
    }

    function addCourse() {
        var courseName = $('#NewCourse').val();
        console.log(courseName);
        var xhtml = new XMLHttpRequest();
        xhtml.onreadystatechange = function () {
            if (xhtml.readyState == 4 && xhtml.status == 200) {
                location.href = "/Course/" + courseName;
            }
        }

        xhtml.open("POST", "/Course/New/" + courseName, true);
        xhtml.send();
    }
</script>
