@model IEnumerable<Project>

@{ 
    ViewData["Title"] = "Projects";
}

<div>
    @{
        if (!Model.Any() || Model == null)
        {
            <div>
                This course does not have any currently active projects. Check back later.
            </div>
        }
        else
        {
            <h1>Projects</h1>
            <div id="ProjectContainer">
            @foreach (var project in Model)
            {
                <div>
                    <a href="/Course/Project/@project.projectId">@project.projectName</a>
                </div>
            }
            </div>
        }
            if (Context.Session.GetString("role") == "1")
            {
                <button onclick="showForm()">New Project</button>
                <div id="ProjectForm"></div>
            }
    }
</div>

<script type="text/javascript">
    function showForm() {
        $('#ProjectForm').html('<input type="text" id="NewProject"/><Button onclick="createProject()">Create</Button>');
    }

    function createProject() {
       
        var projectName = $('#NewProject').val();
        var xhtml = new XMLHttpRequest();
        xhtml.onreadystatechange = function () {
            if (this.status == 200 && this.readyState == 4) {
                $('#ProjectContainer').append('<div><a href="/Course/Project/' + xhtml.responseText + '">' + projectName + '</a></div>');
                $('#ProjectForm').html('');
            }
        }

        xhtml.open("POST", "/Project/Add/" + projectName + "/" + location.pathname.split('/')[2], true);
        xhtml.send();
    }
</script>